* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #f1f1f1;
}
.menu-container {
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}
.logo {
    display: flex;
    margin-left: 14px;
}
.incone {
    background-color: #f44336;
    width: 20px;
    height: 20px;
    border-radius: 10px 10px 0px 10px;
    transform: rotate(45deg);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 7px;
}
.icone-icone {
    background-color: white;
    width: 14px;
    height: 14px;
    border-radius: 7px;
}
.logo-text {
    font-size: 27px;
    color: #f44336;
    cursor: pointer;
}
.lupa-img {
    width: 36px;
    height: auto;
    margin-right: 14px;
    cursor: pointer;
}





.banner {
    height: 640px;
    background-image: url(../images/london.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-banner {
    background-color: white;
    width: 890px;
    height: 260px;
}
.menu-options {
    display: flex;
}
.word-menu {
    flex: 1;
    color: white;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.flight {
    background-color: #f44336;
}
.img-position {
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-config {
    width: 18px;
    height: auto;
    margin-right: 10px;
}
.hotel {
    background-color: black;
}
.hotel:hover {
    background-color: #f44336;
}
.rental {
    background-color: black;
}
.rental:hover {
    background-color: #f44336;
}

.menu-info {
    height: calc(260px - 38px);
    padding: 30px 15px;
}
h2 {
    font-weight: 100;
}
h3 {
    font-size: 15px;
    font-weight: 100;
    margin-top: 18px;
}
.area-input {
    display: flex;
    column-gap: 21px;
    margin-top: 20px;
    margin-bottom: 17px;
}
.input-text {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.reference-input {
    margin-bottom: 5px;
}
.inputs {
    height: 38px;
    padding: 10px;
    outline: 0;
    border: 1px solid #999;
}
.button-menu {
    padding: 10px 22px;
    border: 0px;
    color: white;
    background-color: #616161;
    font-size: 15px;
    cursor: pointer;
}
.button-menu:hover {
    background-color: #404040;
    box-shadow: 0px 0px 5px #f44336;
}






section {
    padding-top: 35px;
    max-width: 1070px;
    width: 100%;
    margin: auto;
}
.container-area1 {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 190px);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
.container-area1 .area1 {
    background-size: cover;
    background-position: center;
    box-shadow: 0px 0px 8px #616161;
}
.container-area1 .img1 {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    background-image: url(../images/cinqueterre.jpg);
}
.container-area1 .img2 {
    background-image: url(../images/newyork.jpg);
}
.container-area1 .img3 {
    background-image: url(../images/sanfran.jpg);
}
.container-area1 .img4 {
    background-image: url(../images/pisa.jpg);
}
.container-area1 .img5 {
    background-image: url(../images/paris.jpg);
}






.container-area2 {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
}
.container-area2 .area2 {
    background-size: cover;
    background-position: center;
    box-shadow: 0px 0px 8px #616161;
    height: 264px;
}
.area2-ocean {
    background-color: white;
}
.area2-ocean .img1 {
    background-image: url(../images/ocean.jpg);
}
.area2-mountains {
    background-color: white;
}
.area2-mountains .img2 {
    background-image: url(../images/mountains.jpg);
}
.container-area2 .contents {
    display: flex;
    flex-direction: column;
    padding: 16px;
}
.container-area2 .text-light {
    color: #999;
    margin-top: 25px;
}
.container-area2 .text-dark {
    margin-top: 25px;
}
.button-area2 {
    margin-top: 10px;
    width: 110px;
    height: 35px;
    font-size: 16px;
    background-color: white;
    border: none;
    cursor: pointer;
}
.button-area2:hover {
    color: white;
    background-color: #616161;
}






.area-email {
    background-color: #404040;
    color: white;
    padding: 30px 15px 15px 15px;
    display: flex;
    flex-direction: column;
}
.tittle-area-email {
    margin-bottom: 25px;
}
.text-small {
    font-size: 14px;
    margin-bottom: 25px;
}
.area-email .input-email {
    height: 40px;
    margin-top: 5px;
    padding: 0px 10px;
}
.area-email .button-area-email {
    width: 100px;
    padding: 10px 15px;
    font-size: 15px;
    margin-top: 15px;
    border: none;
    background-color: #f44336;
    color: white;
    cursor: pointer;
}
.area-email .button-area-email:hover {
    background-color: #f22225;
}





.contact-subtitle {
    margin-left: 5px;
}
.contact-subtitle {
    margin-top: 20px;
    margin-bottom: 15px;
}
.div-contact {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.div-img-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #404040;
    width: 22px;
    height: 22px;
    border-radius: 11px;
    margin-right: 10px;
}
.text-small-contact {
    font-size: 14px;
}
.img-contact {
    text-align: center;
    width: 14px;
}
#area-contact-form {
    margin-top: 20px;
}
.form-contact {
    outline: 0;
    width: 100%;
    height: 54px;
    margin-bottom: 15px;
    padding-left: 8px;
}
#button-contact {
    width: 162px;
    height: 58px;
    color: white;
    background-color: black;
    font-size: 15px;
    cursor: pointer;
}





footer {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-footer {
    font-size: 16px;
    color: #616161;
    margin-bottom: 32px;
}
.text-small-footer {
    font-size: 14px;
    color: #999;
}
.img-div-footer {
    background-color: #404040;
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 38px;
    cursor: pointer;
    border-radius: 4px;
}
#img-flex {
    display: flex;
    column-gap: 6px;
}




@media (max-width: 768px ) {
    .menu-container {
        justify-content: space-around;
    }
    .menu-banner {
        width: 540px;
    }
    section {
        padding: 35px 17px 0px 17px;
    }
    .container-area1 {
        grid-template-rows: repeat(2, 130px);
    }
    .container-area2 .area2 {
        height: 180px;
    }
    #button-contact {
        height: 46px;
    }

}
@media (max-width: 450px) {
    .menu-container {
        justify-content: space-between;
    }
    .banner {
        height: auto;
    }
    .container-area1 {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 300px);
    }
    .container-area1 .img1 {
        grid-column: 1 / 1;
        grid-row: 1 / 1;
    }
    .container-area2 {
        grid-template-columns: 1fr;
        grid-row-gap: 18px;
    }
}
@media (max-width: 320px) {
    .img-position {
        font-size: 15px;
    }
    .area-input {
        row-gap: 6px;
    }
    .menu-banner {
        height: 324px;
    }
    .area-input {
        flex-wrap: wrap;
    }
    .container-area1 {
        grid-template-rows: repeat(5, 220px);
    }
    .container-area2 .area2 {
        height: 142px;
    }
}